.tech-card {
  width: 50%;
  margin: 8px auto;
  height: 90px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #eee;
  .tech-div {
    width: 100%;
    padding: 4px 9px;
    display: flex;
    color: white;
    justify-content: space-between;
    align-items: center;
  }
  .tech-link {
    text-align: center;
    width: 100%;
    margin-top: 15px;
    font-size: 1.1rem;
    text-decoration: none;
  }
}
